#mapid {
  height: 1000px;
  width: 100%;
}

.top-band {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2000;
  background-color: #F8F9FD;

  .btn-primary {
    border-radius: 40px;
    outline: none;
    padding: 8px 41px;
  }
}

nav {
  padding: 15px 20px;

  .active > .nav-link {
    font-weight: bold;
    color: #007bff!important;
    border-bottom: 1px solid #007bff;
    padding: 8px 20px;
  }
}

.form-control {
  padding: 10px 12px;
  outline: none;
  width: 200px;
  border-color: #e8e8e8;
  background-color: #fff !important;
  border-bottom-color: #8495C2;
  font-size: 12px;
  border-radius: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.form-group {
  label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}

.wrapper {
  position: relative;
  top: 75px;
  background-color: #F8F9FD;
}

.btn-primary {
  font-size: 14px;
  font-weight: bold;
  background-color: #343957;
  border-color: #343957;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
